action-msgs==2.0.3
ament-cmake-test==2.5.5
ament-cppcheck==0.17.4
ament-cpplint==0.17.4
ament-flake8==0.17.4
ament-index-python==1.8.2
ament-lint==0.17.4
ament-package==0.16.5
ament-pep257==0.17.4
ament-uncrustify==0.17.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
builtin-interfaces==2.0.3
click==8.3.1
domain-coordinator==0.12.0
fastapi==0.128.0
geographic-msgs==1.0.6
geometry-msgs==5.3.6
greenlet==3.3.1
h11==0.16.0
idna==3.11
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
lifecycle-msgs==2.0.3
my-first-package==0.0.0
my-first-package-msgs==0.0.0
nav-msgs==5.3.6
nav2-msgs==1.3.10
numpy==2.4.2
pinky-bringup==0.0.0
pinky-emotion==0.0.0
pinky-interfaces==0.0.0
pinky-led==0.0.0
pydantic==2.12.5
pydantic_core==2.41.5
python-qt-binding==2.2.2
PyYAML==6.0.3
rcl-interfaces==2.0.3
rclpy==7.1.9
rcutils==6.7.5
rmw-dds-common==3.1.1
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.7
rosidl-cli==4.6.7
rosidl-cmake==4.6.7
rosidl-generator-c==4.6.7
rosidl-generator-cpp==4.6.7
rosidl-generator-py==0.22.2
rosidl-generator-type-description==4.6.7
rosidl-parser==4.6.7
rosidl-pycommon==4.6.7
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.3
rosidl-typesupport-fastrtps-cpp==3.6.3
rosidl-typesupport-introspection-c==4.6.7
rosidl-typesupport-introspection-cpp==4.6.7
rpyutils==0.4.2
sensor-msgs==5.3.6
service-msgs==2.0.3
SQLAlchemy==2.0.46
starlette==0.50.0
statistics-msgs==2.0.3
std-msgs==5.3.6
tf-transformations==1.1.0
type-description-interfaces==2.0.3
typing-inspection==0.4.2
typing_extensions==4.15.0
unique-identifier-msgs==2.5.0
uvicorn==0.40.0
xacro==2.1.1
