action-msgs==2.0.3
ament-cmake-test==2.5.5
ament-cppcheck==0.17.4
ament-cpplint==0.17.4
ament-flake8==0.17.4
ament-index-python==1.8.2
ament-lint==0.17.4
ament-package==0.16.5
ament-pep257==0.17.4
ament-uncrustify==0.17.4
builtin-interfaces==2.0.3
certifi==2026.1.4
charset-normalizer==3.4.4
contourpy==1.3.3
cuda-bindings==12.9.4
cuda-pathfinder==1.3.3
cycler==0.12.1
domain-coordinator==0.12.0
filelock==3.20.3
fonttools==4.61.1
fsspec==2026.1.0
geographic-msgs==1.0.6
geometry-msgs==5.3.6
idna==3.11
Jinja2==3.1.6
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
kiwisolver==1.4.9
lifecycle-msgs==2.0.3
MarkupSafe==3.0.3
matplotlib==3.10.8
mpmath==1.3.0
my-first-package==0.0.0
my-first-package-msgs==0.0.0
nav-msgs==5.3.6
nav2-msgs==1.3.10
networkx==3.6.1
numpy==2.4.2
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.4.5
nvidia-nvtx-cu12==12.8.90
opencv-python==4.13.0.90
packaging==26.0
pillow==12.1.0
pinky-bringup==0.0.0
pinky-emotion==0.0.0
pinky-interfaces==0.0.0
pinky-led==0.0.0
polars==1.37.1
polars-runtime-32==1.37.1
psutil==7.2.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-qt-binding==2.2.2
PyYAML==6.0.3
rcl-interfaces==2.0.3
rclpy==7.1.9
rcutils==6.7.5
requests==2.32.5
rmw-dds-common==3.1.1
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.7
rosidl-cli==4.6.7
rosidl-cmake==4.6.7
rosidl-generator-c==4.6.7
rosidl-generator-cpp==4.6.7
rosidl-generator-py==0.22.2
rosidl-generator-type-description==4.6.7
rosidl-parser==4.6.7
rosidl-pycommon==4.6.7
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.3
rosidl-typesupport-fastrtps-cpp==3.6.3
rosidl-typesupport-introspection-c==4.6.7
rosidl-typesupport-introspection-cpp==4.6.7
rpyutils==0.4.2
scipy==1.17.0
sensor-msgs==5.3.6
service-msgs==2.0.3
setuptools==80.10.2
six==1.17.0
statistics-msgs==2.0.3
std-msgs==5.3.6
sympy==1.14.0
tf-transformations==1.1.0
torch==2.10.0
torchvision==0.25.0
triton==3.6.0
type-description-interfaces==2.0.3
typing_extensions==4.15.0
ultralytics==8.4.11
ultralytics-thop==2.0.18
unique-identifier-msgs==2.5.0
urllib3==2.6.3
xacro==2.1.1
